In [33]:
import pandas as pd
import numpy as np

df = pd.read_excel(r'G:\WFH\20211226_01\ECS_spec.xlsx', sheet_name='Sheet1')
df1 = pd.read_excel(r'G:\WFH\20211226_01\BGB-16673-102_V1.0.xlsx', sheet_name='Checks')

In [34]:
pd.set_option('display.max_rows', 3)
pd.set_option('display.max_columns', 10)

In [35]:
df = pd.DataFrame(df,columns=['Version#','Serial #','Edit Check Name','Folder OID','Form Name','Form OID','Field Label',
                               'Field OID','Related Field OID','Query Text/Mapping Text/Email','Check Type','Assigner'])
df

,Version#,Serial #,Edit Check Name,Folder OID,Form Name,...,Field OID,Related Field OID,Query Text/Mapping Text/Email,Check Type,Assigner
0,0.1,1,DYN_CTMSTAG_CF_DS_EOS\nDYN_CTMSTAG_CF_DS_IC\nD...,Subject,Patient,...,NaN,NaN,NaN,Status,wei sun
...,...,...,...,...,...,...,...,...,...,...,...
1101,0.1,1109,SYS_REQ_RSALRES|RS_PET,"SCR, RASS\nRASFUP\nRALFUP\nRASUNS",Deauville Five-Point Scale,...,RSALRES,NaN,Data is required. Please complete.,Field Checks,Yichi

In [36]:
df = df.rename(columns={"Edit Check Name": "CheckName"})
df

,Version#,Serial #,CheckName,Folder OID,Form Name,...,Field OID,Related Field OID,Query Text/Mapping Text/Email,Check Type,Assigner
0,0.1,1,DYN_CTMSTAG_CF_DS_EOS\nDYN_CTMSTAG_CF_DS_IC\nD...,Subject,Patient,...,NaN,NaN,NaN,Status,wei sun
...,...,...,...,...,...,...,...,...,...,...,...
1101,0.1,1109,SYS_REQ_RSALRES|RS_PET,"SCR, RASS\nRASFUP\nRALFUP\nRASUNS",Deauville Five-Point Scale,...,RSALRES,NaN,Data is required. Please complete.,Field Checks,Yichi

In [37]:
df = df[df['Check Type'].isin(['CF','Simple'])]
df

,Version#,Serial #,CheckName,Folder OID,Form Name,...,Field OID,Related Field OID,Query Text/Mapping Text/Email,Check Type,Assigner
5,0.1,6,Chk_SV_SVSTDAT_01,SCR,Date of visit,...,SVSTDAT,DS_IC.DSSTDAT,Date of visit is prior to date of first Inform...,Simple,wei sun
...,...,...,...,...,...,...,...,...,...,...,...
1085,0.1,1093,Chk_RS_FLIPI_RSDAT5_SVSTDAT,SCR,FLIPI,...,RSDAT5,SV.SVSTDAT,Date of FLIPI assessment is not within 28 days...,Simple,Yichi

In [38]:
df['CheckName_spec'] = df['CheckName']
df

<ipython-input-38-2c40b56205f0>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['CheckName_spec'] = df['CheckName']

,Version#,Serial #,CheckName,Folder OID,Form Name,...,Related Field OID,Query Text/Mapping Text/Email,Check Type,Assigner,CheckName_spec
5,0.1,6,Chk_SV_SVSTDAT_01,SCR,Date of visit,...,DS_IC.DSSTDAT,Date of visit is prior to date of first Inform...,Simple,wei sun,Chk_SV_SVSTDAT_01
...,...,...,...,...,...,...,...,...,...,...,...
1085,0.1,1093,Chk_RS_FLIPI_RSDAT5_SVSTDAT,SCR,FLIPI,...,SV.SVSTDAT,Date of FLIPI assessment is not within 28 days...,Simple,Yichi,Chk_RS_FLIPI_RSDAT5_SVSTDAT

In [39]:
df1 = pd.DataFrame(df1,columns=['CheckName','CheckActive'])
#df1

In [40]:
df1['CheckName_als'] = df1['CheckName']
df1

                       CheckName  CheckActive               CheckName_als
0     DYN_SV_SET_SVDELYN_VISIBLE         True  DYN_SV_SET_SVDELYN_VISIBLE
...                          ...          ...                         ...
1559           Chk_SV_SVSTDAT_74         True           Chk_SV_SVSTDAT_74

[1560 rows x 3 columns]

In [41]:
join = pd.merge(df, df1, how='left', on=['CheckName'])
join

,Version#,Serial #,CheckName,Folder OID,Form Name,...,Check Type,Assigner,CheckName_spec,CheckActive,CheckName_als
0,0.1,6,Chk_SV_SVSTDAT_01,SCR,Date of visit,...,Simple,wei sun,Chk_SV_SVSTDAT_01,True,Chk_SV_SVSTDAT_01
...,...,...,...,...,...,...,...,...,...,...,...
358,0.1,1093,Chk_RS_FLIPI_RSDAT5_SVSTDAT,SCR,FLIPI,...,Simple,Yichi,Chk_RS_FLIPI_RSDAT5_SVSTDAT,True,Chk_RS_FLIPI_RSDAT5_SVSTDAT

In [42]:
join['IsEqual'] = (join['CheckName_spec']==join['CheckName_als'])
join

,Version#,Serial #,CheckName,Folder OID,Form Name,...,Assigner,CheckName_spec,CheckActive,CheckName_als,IsEqual
0,0.1,6,Chk_SV_SVSTDAT_01,SCR,Date of visit,...,wei sun,Chk_SV_SVSTDAT_01,True,Chk_SV_SVSTDAT_01,True
...,...,...,...,...,...,...,...,...,...,...,...
358,0.1,1093,Chk_RS_FLIPI_RSDAT5_SVSTDAT,SCR,FLIPI,...,Yichi,Chk_RS_FLIPI_RSDAT5_SVSTDAT,True,Chk_RS_FLIPI_RSDAT5_SVSTDAT,True

In [44]:
join.to_excel(r'G:\WFH\20211226_01\EC_InternalQC_Check_CheckID.xlsx')